.header_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    .logo{
        width: 40vw;
        max-width: 200px;
        img{
            width: 100%;
        }
    }
    a{
        text-decoration: none;
        display: flex;
    }
    i{
        color: rgb(41, 41, 41);
        font-size: 20px;
    }
}