
h1, .logo {
    font-family: 'Shrikhand', sans-serif;
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
}
h2, h3{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-weight: 700;
}
p{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
a{
    display: none;
}
body{
    margin: 0%;
}
i{
    font-size: 20px;
}